body {
    background: url("../images/outerspace_landscape.jpeg") no-repeat;
    background-size: cover;
}

/* --- navigation style --- */

nav {
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    height: 50px;
    background-color: grey;
    position: fixed;
}


.nav-icon {
    height: 40px;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    border-radius: 50%;
    border: 1px solid black
}

nav ul {
    display: inline-block;
}

nav ul li {
    display: inline-block;
}


nav ul li::after{
    content: "|";
    margin-left: 3px;
}

/* --- contents style --- */

main {
    padding-top: 60px;
}

.green-dotted-box {
    border: 10px dotted green;
    width: 600px;
    height: 300px;
    margin: auto;
    margin-top: 200px;
    position:relative;
    text-align: center;
}

img.image{
    width: 200px;
    height: 200px;
    position: absolute
}

img.cat{
    top: -100px;
    left: -100px;
}

img.dog{
    bottom: -100px;
    right: -100px;
}
